body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    background: radial-gradient(circle, #1f3756, #141539);
    text-align: center;
    box-sizing: border-box;
    color: white !important;
}

.icon{
    cursor: pointer;
    position: relative;
    width: 100px;
}
.icon img{
    width: 100px;
    height: 100px;
}

.players{
    width: 115px;
    display: inline-block;
    text-align: center;
}

.players.myself{
    font-weight: bold;
}

.players.right{
    float: right;
}

.score-box{
    padding: 0.75rem 2.5rem;
    background-color: #fff;
    color: #2a46c0;
    border-radius: 5px;
}

.score-box__score {
    color: #3b4363;
    font-size: 3.5rem;
    font-weight: 700;
}

#topbanner{
    height: 50px;
    padding-top: 10px;
}

#level-btn{
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    color: white;
}

#level-btn.level1{
    background-color: #7bed9f;
}

#level-btn.level2{
    background-color: #ff6b81;
}

#balance-btn {
    color: #212529;
    background-color: #e0a800;
    text-align: center;
    float: right;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

#balance-btn .exit-game{
    display: none;
    cursor: pointer;
}

#balance-btn:hover .balance-player{
    display: none;
}

#balance-btn:hover .exit-game{
    display: inline-block !important;
}

.play{
    position: relative;
    margin-bottom: 200px;
}

.play #choice-container-ROCK{
    left: calc(50% - 50px);
    top: 0;
}

.play #choice-container-PAPER{
    left: calc(20% - 50px);
    top: 70px;
}

.play #choice-container-SCISSOR{
    left: calc(80% - 50px);
    top: -30px;
}

.play #choice-container-LIZARD{
    left: calc(20% - 50px);
    top: 70px;
}

.play #choice-container-SPOCK{
    left: calc(80% - 50px);
    top: -30px;
}

#betcontainer{
    position: absolute;
    left: calc(50% - 100px);
    top: 170px;
    padding: 0.75rem 2.5rem;
    background-color: #fff;
    color: #2a46c0;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

#betcontainer input{
    border: none;
    width: 100%;
    color: #3b4363;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.icon.selected{
    border: 2px solid white;
    border-radius: 5px;
}

.clickable{
    cursor: pointer;
}



